#body_page { flex: 1; align-items: center; text-align: center;}
#top {background-color:steelblue; text-align: center; color: white;padding: 20px; height: 50px; font-size: 70; font-weight: bold;}
#upload-data {padding: 20px;}
#selection {text-decoration: underline; text-decoration-color: skyblue; color: skyblue;}
