._dash-undo-redo {
    display: none;
}

.modebar {
    display: none !important;
    }


#left {
    flex : 0.5;
}

#left2 {
    height : 4000px;
    background-color: rgb(14, 36, 32);    
}

#right {
    flex: 2.5;
    align-content: center;
    align-items: center;
    text-align: center;
}
  

#body_page { 
    display: flex;
    background-color: white;
    margin:0px;
}

body {
    margin:0px;
}

#div_up {
    background-color: white;
    border: 5px solid lightgray;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    
}

#top {
    color:white;
    padding-top: 60px;
    text-align: center;
    background-color: rgb(14, 36, 32);    
    margin-right: auto;
    margin-left: auto;
    height: 40px; 
}


